#chosen-drugs {
    padding: 10px;
}

.div-drug-calculated {
    cursor: pointer;
    background: #4b8ffa4f;
    padding: 8px;
    border-radius: 6px;
}

#div-active-substance, #div-active-substance-dose {
    font-size: 0.8rem;
}

#div-calculated-doses {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    gap: 10px;
}

#div-drug-needed-as {
    background: #4b8ffa;
    color: #fff;
    padding: 5px 5px;
}

#div-drug-needed-med {
    background: #d60b52;
    color: #fff;
    padding: 5px 5px;
}

#div-drug-appl {
    display: flex;
    justify-content: space-between;
}

#div-drug-application {
    font-style: italic;
}